@font-face {
                            font-family: 'icons';
                            font-display: swap;
                            src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'ProstoOne';
                            font-display: swap;
                            src: url("../fonts/ProstoOne-Regular.woff2") format("woff2"), url("../fonts/ProstoOne-Regular.woff") format("woff");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Verdana';
                            font-display: swap;
                            src: url("../fonts/Verdana-Regular.woff2") format("woff2"), url("../fonts/Verdana-Regular.woff") format("woff");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Verdana';
                            font-display: swap;
                            src: url("../fonts/Verdana-Bold.woff2") format("woff2"), url("../fonts/Verdana-Bold.woff") format("woff");
                            font-weight: 700;
                            font-style: normal;
                        }
