.footer {
	background: $accent;
	color: #fff;
	padding: 90px 0 40px;
	// .footer__header
	&__header {
	}
	// .footer__title
	&__title {
	}
	// .footer__phone
	&__phone {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken(#fff, 10);
			}
		}
	}
	// .footer__body
	&__body {
		margin-top: 53px;
	}
	// .footer__card
	&__card {
		background: #fff;
		color: #000;
		border-radius: 20px;
		padding: 24px;
		min-height: 100%;
	}
	// .footer__card-caption
	&__card-caption {
	}
	// .footer__card-body
	&__card-body {
		margin-top: 16px;
		font-size: 18px;
		line-height: math.div(24, 18);
	}
	// .footer__card-address
	&__card-address {
	}
	// .footer__card-btn
	&__card-btn {
	}
	// .footer__socials
	&__socials {
		margin-top: 16px;
	}
	// .footer__bottom
	&__bottom {
		margin-top: 84px;
		color: #c5c5c5;
		font-size: 14px;
		line-height: math.div(19, 14);
	}
	// .footer__copy
	&__copy {
		max-width: 685px;
	}
	// .footer__privacy
	&__privacy {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .footer__prod
	&__prod {
		& img {
			margin-top: -12px;
			margin-left: 4px;
		}
	}
}
