// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";

// ======================================МИКСИНЫ==============================================
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	.logo {
		max-width: 640px;
		width: 100%;
		& img {
			width: 100%;
		}
	}
}

// .spinner {
// 	width: 40px;
// 	height: 40px;
// 	border: 4px solid #3f51b5;
// 	border-radius: 50%;
// 	border-top-color: transparent;
// 	animation: spin 1s linear infinite;
// }

// @keyframes spin {
// 	to {
// 		transform: rotate(360deg);
// 	}
// }

// @import "../../node_modules/bootstrap/scss/bootstrap";
// @import "reset";
// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Verdana";
$font-prosto-one: "ProstoOne";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1170; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$md-xxl: 1900px;
$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;

$text: #000;
$accent: #294835;
$secondary: #d4cd8e;

$raduis: rem(30);

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $text;
	min-width: 320px;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.lock {
		overflow: hidden;
	}
	&.lock-menu {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
	&._touch {
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	overflow: hidden;
	@media (min-width: $md3) {
		overflow: visible;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	overflow-x: clip;
}
// =======================ОСНОВНОЙ БЛОК===================

@import "pages/home";
@import "pages/project";
