// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";

// ======================================МИКСИНЫ==============================================

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reset";
// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Verdana";
$font-prosto-one: "ProstoOne";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1170; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$md-xxl: 1900px;
$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;

$text: #000;
$accent: #294835;
$secondary: #d4cd8e;

$raduis: rem(30);

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $text;
	min-width: 320px;
	line-height: normal;
	&.lock {
		overflow: hidden;
	}
	&._touch {
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	overflow: hidden;
	@media (min-width: $md2) {
		overflow: visible;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	overflow-x: clip;
}
// =======================ОСНОВНОЙ БЛОК===================

@import "pages/home";
